{
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "jsxSingleQuote": true,
    "bracketSameLine": false,
    "overrides": [
        {
            "files": "*.svg",
            "options": {
                "parser": "html"
            }
        }
    ]
}